<!DOCTYPE html>
<html lang="en" ng-app="bnw-replies">
<head>
        <meta charset="UTF-8">
        <title>Bnw Replies</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/styles.css" media="all">
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/moment/moment.js"></script>
		<script src="/scripts.js"></script>
</head>
<body ng-controller="Replies" autoscroll="replies">
		<div class="container">
				<div class="reply" ng-repeat="reply in replies">
						<div class="quote">
							<p ng-repeat="p in reply.replytotext|lines track by $index">{{p}}</p>
						</div>
						<div class="text">
							<a class="userpic" href="https://meow.bnw.im/u/{{reply.user}}">
								<img src="https://bnw.im/u/{{reply.user}}/avatar/thumb" alt="@{{reply.user}}">
							</a>
							<p ng-repeat="p in reply.text|lines track by $index">{{p}}</p>
						</div>
						<div class="meta">
							<a class="user" href="https://meow.bnw.im/u/{{reply.user}}">@{{reply.user}}</a>
							<a class="date" href="https://meow.bnw.im/p/{{reply.id.replace('/', '#')}}">about {{reply.date|moment}}</a>
						</div>
		        </div>
				<p class="center" ng-hide="finish || !replies.length"><button type="button" class="btn btn-success" ng-click="load()">Еще</button></p>
				<p class="center" ng-show="finish">Поздравляем! Вы доскроллили до начала времен.</p>
		</div>
</body>
</html>
