<!DOCTYPE html>
<html lang="en" ng-app="bnw-replies">
<head>
        <meta charset="UTF-8">
        <title>Bnw Replies</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/styles.css" media="all">
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/bower_components/moment/moment.js"></script>
		<script src="/scripts.js"></script>
</head>
<body>
	<div ng-view></div>
		
	<script type="text/ng-template" id="feed.html">
		<div class="container" autoscroll="replies" infinitescroll="load()">
			<header>
				<h1 ng-hide="user || top">Не твой личный анархо-аутизм</h1>
				<h1 ng-hide="!user || top">Это твой аутизм, {{user}}</h1>
				<h1 ng-hide="user || !top">Эхо анархии</h1>
				<ul class="nav">
					<li>
						<a href="/">Последнее</a>
					</li>
					<li>
						<a href="/top">Лучшее</a>
					</li>
					<li ng-controller="For">
						<form ng-submit="for(name)">
							Аутизм для <input type="text" ng-model="name"> <button role="submit">Получить</button>
						</form>
					</li>
				</ul>
			</header>
			<div class="replies">
				<div class="reply" ng-repeat="reply in replies">
						<div class="quote">
							<p ng-repeat="p in reply.replytotext|lines track by $index">{{p}}</p>
						</div>
						<div class="text">
							<a class="userpic" href="https://meow.bnw.im/u/{{reply.user}}">
								<img src="https://bnw.im/u/{{reply.user}}/avatar/thumb" alt="@{{reply.user}}">
							</a>
							<p ng-repeat="p in reply.text|lines track by $index">{{p}}</p>
						</div>
						<div class="meta">
							<a class="user" href="https://meow.bnw.im/u/{{reply.user}}">@{{reply.user}}</a>
							<a class="date" href="https://meow.bnw.im/p/{{reply.id.replace('/', '#')}}">about {{reply.date|moment}}</a>
						</div>
		        </div>
			</div>	
		</div>
	</script>
</body>
</html>
