@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

html, body, body > div {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body, button, input {
	font: 14px/1.4 'Open Sans', Arial, sans-serif;
	color: #fff;
}

.container {
	height: 100%;
	overflow-y: scroll;
	background: #000;
}

header {
	text-align: center;
}

.replies {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 560px;
}

div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.reply {
	margin: 40px 0 40px 60px;
	max-width: 550px;
}

.quote {
	max-width: 430px;
	padding: 1px 15px;
	border-radius: 8px 8px 0 0;
	color: #CCCCCC;
	border-bottom: 0 none;
}

.quote, .text p{
	overflow: hidden;
}

.quote {
	border-bottom: none;
}

.quote a {
	color: #999999;
	text-decoration: none;
}

.quote a:hover {
	text-decoration: underline;
}

.text {
	padding: 7px 15px;
	color: #CCCCCC;
	border-radius: 8px;
	position: relative;
	background: #111;
}

.userpic {
	width: 48px;
	position: absolute;
	top: 6px;
	left: -62px;
	text-align: center;
}

.userpic img {
	max-width: 48px;
	max-height: 48px;
	border-radius: 4px;
}

.btn {
	padding: 3px 12px 5px;
	background: #000;
	color: #D79D35;
	border: 1px solid #D79D35;
	border-radius: 4px;
}

.center {
	text-align: center;
}

.nav {
	list-style-type: none;
}

h1 a {
	color: #D39C3A;
}

h1 a:hover {
	color: #B77C11;
}

.nav input {
	padding: 0 5px;
	width: 100px;
	border: 0 none;
	border-bottom: 1px solid #D39C3A;
	color: #D39C3A;
	background: none;
}

.nav button {
	padding: 5px 12px;
	background: none;
	border: 1px solid #D39C3A;
	border-radius: 4px;
	color: #D39C3A;
}

.nav input:focus, .nav button:focus {
	outline: 0 none;
	border-color: #B77C11;
	color: #B77C11;
}

.nav button:active {
	opacity: 0.5;
}
